/* DEVELOPMENT UTILITIES*/
/* DEVELOPMENT UTILITIES*/
/* DEVELOPMENT UTILITIES*/
/* DEVELOPMENT UTILITIES*/
/* DEVELOPMENT UTILITIES*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arsenal:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&display=swap");
.d-none {
  display: none;
}

/* TYPOGRAPHY SETTINGS*/
/* TYPOGRAPHY SETTINGS*/
/* TYPOGRAPHY SETTINGS*/
/* TYPOGRAPHY SETTINGS*/
/* TYPOGRAPHY SETTINGS*/
/* TYPOGRAPHY SETTINGS*/
/* TYPOGRAPHY SETTINGS*/
/* teting font*/
html {
  font-size: 100%;
}

/* STYLES START HERE */
/* STYLES START HERE */
/* STYLES START HERE */
/* STYLES START HERE */
/* STYLES START HERE */
/* STYLES START HERE */
/* STYLES START HERE */
/* STYLES START HERE */
/* STYLES START HERE */
/* STYLES START HERE */
/* STYLES START HERE */
/* STYLES START HERE */
/* STYLES START HERE */
/* STYLES START HERE */
/* STYLES START HERE */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: black;
  color: white;
  height: 100vh;
  overflow: hidden;
  font-size: 1rem;
  line-height: 1.17;
  line-height: 1.29;
  font-weight: 200;
  font-family: "Montserrat";
}

/* UTILITIES MIXIN */
/* SLIDER COMPONENT */
.slider {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.slider__mover {
  width: 100%;
  height: 100%;
  display: flex;
}
.slider__mover--vertical {
  display: block;
}
.slider__slide {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
}

/* INTRO SECTION */
.intro {
  width: 100%;
  height: 100%;
}
.intro .step__inner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10vw;
}
.intro .step__inner .text p {
  font-size: 1rem;
  line-height: 1.17;
  line-height: 1.29;
  font-weight: 200;
  font-family: "Montserrat";
  max-width: 33em;
}
.intro .step__inner .text span {
  font-size: 1rem;
  line-height: 1.1765;
  font-weight: 600;
  font-family: "Montserrat";
}

/* SMILES SECTION */
.smiles {
  width: 100%;
  height: 100%;
}
@media (min-aspect-ratio: 5/4) {
  .smiles {
    padding: 0 5vw;
  }
}
@media (min-aspect-ratio: 6/4) {
  .smiles {
    padding: 0 10vw;
  }
}
@media (min-aspect-ratio: 7/4) {
  .smiles {
    padding: 0 15vw;
  }
}
.smiles .slider.animate .slider__mover {
  --count: 28;
  --pic-time: 3.5s;
  --anim-time: calc(var(--count) * var(--pic-time));
  --ease: steps(var(--count));
  animation: autoMove var(--anim-time) infinite var(--ease);
}
.smiles .slider__slide {
  display: flex;
  padding-top: 15vh;
  padding-bottom: 15vh;
}
.smiles .smile {
  width: 100%;
  position: relative;
  background-size: cover;
  background-position: center;
}
.fx .smiles .smile:after {
  content: "";
  height: 100%;
  width: calc((100vw / 12) * 6);
  position: absolute;
  right: 0%;
  mix-blend-mode: multiply;
  background-color: red;
  opacity: 1;
}
.fx .smiles .smile:before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  right: 0;
  background-color: white;
  opacity: 0.1;
}
.smiles .slider.animate.paused .slider__mover {
  animation-play-state: paused;
}
.smiles .slider__status-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.smiles .slider__playing-state {
  font-size: 1rem;
  line-height: 1.29;
  font-weight: 200;
  letter-spacing: 0.075em;
  font-family: "Montserrat";
}
.smiles .slider__playing-state:after {
  content: "";
}
.smiles .slider.animate.paused .slider__playing-state:after {
  content: "PAUSED";
}

@keyframes autoMove {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(calc(var(--count) * -100%));
  }
}
.smile-1 {
  background-image: url("https://images.unsplash.com/photo-1489278353717-f64c6ee8a4d2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80");
}

.smile-2 {
  background-image: url("https://images.unsplash.com/photo-1535295972055-1c762f4483e5?ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80");
}

.smile-3 {
  background-image: url("https://images.unsplash.com/photo-1492633423870-43d1cd2775eb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80");
}

.smile-4 {
  background-image: url("https://images.unsplash.com/photo-1521117177129-ca6b2e68cb26?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjE3MzYxfQ&auto=format&fit=crop&w=1500&q=80");
}

.smile-5 {
  background-image: url("https://images.unsplash.com/photo-1528809217021-151305b50e55?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1504&q=80");
}

.smile-6 {
  background-image: url("https://images.unsplash.com/photo-1519742866993-66d3cfef4bbd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=562&q=80");
  background-position: 50% 26%;
}

.smile-7 {
  background-image: url("https://images.unsplash.com/photo-1518551049835-5536abd7e004?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80");
  background-position: 50% 26%;
}

.smile-8 {
  background-image: url("https://images.unsplash.com/photo-1530021232320-687d8e3dba54?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80");
  background-position: 50% 40%;
}

.smile-9 {
  background-image: url("https://images.unsplash.com/photo-1550831858-3c2581fed470?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80");
}

.smile-10 {
  background-image: url("https://images.unsplash.com/photo-1544457073-505b76b886de?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=848&q=80");
}

.smile-11 {
  background-image: url("https://images.unsplash.com/photo-1502685104226-ee32379fefbe?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80");
}

.smile-12 {
  background-image: url("https://images.unsplash.com/photo-1528475775637-ed767f76e6b6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80");
  background-position: 50% 40%;
}

.smile-13 {
  background-image: url("https://images.unsplash.com/photo-1507036066871-b7e8032b3dea?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1334&q=80");
}

.smile-14 {
  background-image: url("https://images.unsplash.com/photo-1492462543947-040389c4a66c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80");
}

.smile-15 {
  background-image: url("https://images.unsplash.com/photo-1474176857210-7287d38d27c6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80");
}

.smile-16 {
  background-image: url("https://images.unsplash.com/photo-1508280756091-9bdd7ef1f463?ixlib=rb-1.2.1&auto=format&fit=crop&w=1580&q=80");
}

.smile-17 {
  background-image: url("https://images.unsplash.com/photo-1521227972153-666936f85f42?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=666&q=80");
}

.smile-18 {
  background-image: url("https://images.unsplash.com/photo-1531251445707-1f000e1e87d0?ixlib=rb-1.2.1&auto=format&fit=crop&w=562&q=80");
}

.smile-19 {
  background-image: url("https://images.unsplash.com/photo-1551322729-8302ffee4967?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80");
}

.smile-20 {
  background-image: url("https://images.unsplash.com/photo-1548142813-41110c94cb3b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=670&q=80");
}

.smile-21 {
  background-image: url("https://images.unsplash.com/photo-1563101883-9248c8886ab8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80");
}

.smile-22 {
  background-image: url("https://images.unsplash.com/photo-1544843784-26792fc045f7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80");
}

.smile-23 {
  background-image: url("https://images.unsplash.com/photo-1554993957-163c339a7426?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80");
}

.smile-24 {
  background-image: url("https://images.unsplash.com/flagged/photo-1555748539-0d85ed14ee52?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=716&q=80");
  background-position: 50% 69%;
}

.smile-25 {
  background-image: url("https://images.unsplash.com/photo-1562337404-3044c84ac061?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80");
  background-position: 50% 26%;
}

.smile-26 {
  background-image: url("https://images.unsplash.com/photo-1543299934-cdfd6357448f?ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80");
}

.smile-27 {
  background-image: url("https://images.unsplash.com/photo-1471857497812-f841e2ca8dfc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80");
}

.smile-28 {
  background-image: url("https://source.unsplash.com/MCauAnBJeig");
}